.homeContentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoTypography {
  font-size: 6vw;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.descriptionTypography {
  margin-top: 10px;
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

.button {
  transition: transform 0.3s ease-in-out;
  color: 'primary';
}

.button:hover {
  transform: scale(1.1);
}

.button:focus {
  box-shadow: none;
}

.icon {
  width: 10vw;
  height: 10vw;
}

@media (max-width: 900px) {
  .icon {
    width: 25vw;
    height: 25vw;
  }
}
@media (max-width: 900px) {
  .logoTypography {
    font-size: 12vw;
    margin-top: 20px;
  }
}

@media (max-width: 900px) {
  .descriptionTypography {
    margin-top: 10px;
    padding: 50px;
    text-align: center;
    font-size: 20px;
  }
}
