.predictionFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.formBox {
  height: 70%;
  max-width: 450px;
  width: 100%;
  padding: 18px;
  background-color: rgba(0, 17, 32, 0.8);
  border-radius: 12px;
}

.form {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.formControl {
  width: 350px;
  position: relative;
}

.inputLabel {
  position: absolute;
  left: 15px;
  top: -5px;
  color: #5a7085;
  font-size: 1rem;
  font-weight: bold;
}

.textField {
  line-height: 2;
  border-radius: 12px;
  width: 350px;
  background-color: #002c51;
  padding: 10px;
  height: 150px;
}

.textField input {
  color: #cccccc;
  font-size: 4rem;
}

.textField input::-webkit-outer-spin-button,
.textField input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.textField input[type='number'] {
  -moz-appearance: textfield;
}

.submitButton {
  margin-top: 24px;
  width: 350px;
  border-radius: 12px;
  background: linear-gradient(45deg, #5970fd, #f767c6);
  color: white;
}

.submitButton:hover {
  background: linear-gradient(45deg, #5970fd, #f767c6);
}

.contentBox {
  max-height: 120px;
  margin-top: 2px;
  overflow-y: auto;
  display: flex-start;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .formBox {
    border-radius: 0px;
  }
}
